body, html {
  height: 100%;
  text-align: center;
}

#wrapper {
  padding: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 200px;
  height: 200px;
}

footer {
  padding-top: 2%;
}

nav ul button:first-child {
  margin-right: 20%;
}

nav ul button:last-child {
  margin-left: 20%;
}

nav ul li {
  margin: 0 2%
}

.Block {
  display: inline-block;
  width: 15%;
  border: solid #32a1ce;
}
