body, html {
  height: 100%;
}

#wrapper {
  text-align: center;
  padding: 1%;
}

.logo {
  width: 100x;
  height: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav h3 {
  color: #fff;
  width: 20%
}

nav ul {
  width: 60%;
}

footer {
  padding-top: 2%;
}

.Block {
  display: inline-block;
  width: 15%;
  border: solid #32a1ce;
  margin: 1%;
}
